
<div class="bg-gray-100 flex items-center justify-center h-screen p-24">
    <div class="w-full max-w-md p-8 space-y-8 bg-white shadow-lg rounded-lg">
        <h2 class="text-3xl font-bold text-center text-gray-800">Login to your account</h2>
        <form class="space-y-6">
            <!-- Email Input -->
            <div class="space-y-4">
                <div>
                    <label for="email-address" class="block text-sm font-medium text-gray-700">Email address</label>
                    <input id="email-address" name="email" type="email" required
                        class="mt-2 appearance-none block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 rounded-md focus:outline-none focus:ring-orange-500 focus:border-orange-500 sm:text-sm"
                        placeholder="Email address">
                </div>
                <!-- Password Input -->
                <div>
                    <label for="password" class="block text-sm font-medium text-gray-700">Password</label>
                    <input id="password" name="password" type="password" required
                        class="mt-2 appearance-none block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 rounded-md focus:outline-none focus:ring-orange-500 focus:border-orange-500 sm:text-sm"
                        placeholder="Password">
                </div>
            </div>

            <!-- Remember me and Forgot Password -->
            <div class="flex items-center justify-between mt-6">
                <div class="flex items-center">
                    <input id="remember_me" name="remember_me" type="checkbox"
                        class="h-4 w-4 text-orange-600 focus:ring-orange-500 border-gray-300 rounded">
                    <label for="remember_me" class="ml-2 block text-sm text-gray-900">
                        Remember me
                    </label>
                </div>

                <div>
                    <a href="#" class="text-sm font-medium text-orange-600 hover:text-orange-500">
                        Forgot your password?
                    </a>
                </div>
            </div>

            <!-- Sign-in Button -->
            <div>
                <button type="submit"
                    class="w-full flex justify-center py-2 px-4 border border-transparent text-sm font-medium rounded-md text-white bg-orange-600 hover:bg-orange-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-orange-500">
                    Sign in
                </button>
            </div>
        </form>
        
        <!-- Sign up Link -->
        <p class="mt-6 text-center text-sm text-gray-600">
            Don't have an account? 
            <a  class="font-medium text-orange-600 hover:text-orange-500" href="/register">Sign up</a>
        </p>
    </div>
</div>
</html>
